* {
    font-family: Arial, Helvetica, sans-serif;
}

.movieDetailInfo {
    text-align: center;
    border-style: double;
    position: absolute;
    width: 500px;
    height:fit-content;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
}

.descriptionFull {
    padding: 20px;
}